{% extends "projectoKikoloBundle::Layout.html.twig" %}
{% block body -%}


    {% block container0 %}
        <section class="" >
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 text-center"></br>
                        <h2>Meu Perfil de Anunciante</h2>
                        <hr class="star-primary">
                    </div>
                </div>
            </div>
            </div>
    </section>
    {% endblock%}
{% endblock %}


